body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    color: white;
}

.home{
    color: #ffffff; 
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #222222;
    color: #333;
}

/* Barre de navigation */
.navbar {
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    position: relative;
}

.onglets {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.onglets li {
    margin: 0;
}

.menu h4 {
    font-size: 24px;
    color: #ffffff;
    margin: 0;
}

/* Styles spécifiques à la section BTS */
.bts {
    color: white;
    background-color: #000000;
    opacity: 5px; /* Cette ligne peut causer un problème, veuillez la corriger si nécessaire */
    text-align: center;
    padding: 7px 14px;
    border-radius: 5px;
}

/* Style de la vidéo */
video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    filter: blur(8px);
    object-fit: cover;
    opacity: 0.5;
}

/* Styles spécifiques à la section header */
header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
}

/* Styles spécifiques aux paragraphes */
p {
    text-align: center;
}

/* Styles spécifiques aux titres h4 et h5 */
h4 {
    color: #fff;
    text-align: center;
}

h5 {
    color: white;
    text-align: center;
}

/* Styles spécifiques à la liste ul li */
ul li {
    display: inline-block;
    margin-right: 10px;
    background-color: #000000;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
}

/* Style spécifique au footer */
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: 50px;
}

/* Styles pour la section About */
.about-section {
    padding: 20px 0;
    min-height: 80vh;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.about-content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 800px;
}

.about-text {
    text-align: left;
    line-height: 1.6;
    margin-top: 20px;
}

.about-text p {
    margin-bottom: 15px;
    text-align: left;
}
